.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

android
backup
src/App.vue
.firebase
package.json
package-lock.json
signature.jks
upload.sh
capacitor.config.json
src/plugins/android_support.js
